--header "MIT License\nCopyright (c) 2025-{year} centerd"
--commas inline
--disable wrapMultilineStatementBraces
--enable wrapConditionalBodies
--enable wrapMultilineFunctionChains
--decimalgrouping 3,5
--maxwidth 160
--wraparguments before-first
--wrapparameters before-first
